{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="position: relative; top: 80px;">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> hot
      </a>
      <a class="navbar-brand" href="#">
        <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> latest
      </a>
      <a class="navbar-brand" href="#">
        <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> new
      </a>
      <a class="navbar-brand" href="#">
        <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> prize
      </a>
      
    </div>
{% endblock %}